*   {
   box-sizing: border-box;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   text-align: center; }
body {
   position: relative;
   margin: 200;
   padding: 20
    }
header {
   width: 100%;
   padding-left: 200px;
   border: 20px solid darkblue;
   background-color: lightblue;
    
  }
  
nav {
    padding-left: 50px;
    font-size: 20px;
    }
section {
    font-size: larger;
    padding-left: 200px;
    padding-top: 250px;
    
    }
footer {
        font-size: x-large;
    padding-left: 200px;
padding-top: 400px;


}