* {
    box-sizing: border-box;
    padding: 20;
    margin: 20;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
    position: relative;
    margin: 200;
    padding: 20
}
header {
    width: 100%;
    padding-left: 750px;
  border: 20px solid darkblue;
  background-color: lightblue; 
}
section {
    align-items: center;
}